/* General Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease-in-out;
}

/* Logo Styling */
.logo {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.logo span {
  color: #7d2ae8;
}

/* Navigation Styles */
.navigation {
  display: flex;
  gap: 20px;
}

.navigation a {
  font-size: 1em;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  padding-top: 10px;
}

.navigation a:hover,
.navigation a.active {
  color: #7d2ae8;
}

.navigation a.active::after {
  content: '';
  display: block;
  height: 2px;
  background: #7d2ae8;
  margin-top: 4px;
}

/* Let's Talk Button */
.btn-talk {
  color: #7d2ae8;
  background: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #7d2ae8;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-talk:hover {
  background: #7d2ae8;
  border-color: #7d2ae8;
  cursor: pointer;
  color: #fff !important;
}

/* Mobile Menu Button */
.menu-btn {
  display: none;
  cursor: pointer;
  font-size: 2em;
  color: #7d2ae8;
  background: none;
  border: none;
}

/* Responsive Navigation */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .navigation {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    gap: 15px;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 20px;
  }

  .navigation.show {
    margin-top: 20px;
    max-height: 500px;
    opacity: 1;
  }

  .btn-talk {
    margin-top: 15px;
  }
}
