<section class="blog">
    <div class="content">
        <h2>Blog Title <span>Latest Posts</span></h2>
        <h4>Stay up-to-date with our latest blog posts</h4>
        <div class="blog-posts">
            <div class="blog-post">
                <img src="post-image1.jpg" alt="Post Image" class="post-image">
                <div class="post-content">
                    <h3 class="post-title">Post Title 1</h3>
                    <p class="post-date">Posted on: Date</p>
                    <p class="post-description">Post description...</p>
                    <div class="post-actions">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="blog-post">
                <img src="post-image2.jpg" alt="Post Image" class="post-image">
                <div class="post-content">
                    <h3 class="post-title">Post Title 2</h3>
                    <p class="post-date">Posted on: Date</p>
                    <p class="post-description">Post description...</p>
                    <div class="post-actions">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>

            <div class="blog-post">
                <img src="post-image3.jpg" alt="Post Image" class="post-image">
                <div class="post-content">
                    <h3 class="post-title">Post Title 3</h3>
                    <p class="post-date">Posted on: Date</p>
                    <p class="post-description">Post description...</p>
                    <div class="post-actions">
                        <a href="#" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>