<section class="blog" [ngClass]="{ 'loaded': backgroundImageLoaded }">
  <div class="content">
    <h2>My <span>Blog</span></h2>
    <h4>Check out my latest posts</h4>
    <p>
      As a passionate developer, I regularly write about technology trends, coding tutorials, and software
      development best practices. Feel free to explore my articles.
    </p>
    <div class="btn-group">
      <a (click)="scrollToBlogs()" class="see-blog">See Blog</a>
    </div>
  </div>
</section>

<section id="blogs" class="blogs">
  <div class="blog-container" #blogElement>
    <div class="blog-slider">
      <!-- Use paginatedBlogs here to display only the current page items -->
      <div class="blog-slide" *ngFor="let blog of paginatedBlogs">
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.description }}</p>
        <a [href]="blog.link" class="blog-link" target="_blank">Read more</a>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">&laquo; Prev</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next &raquo;</button>
    </div>
  </div>
</section>