# Node modules
/node_modules

# Next.js build output
/.next
/out

# Production
/dist

# Environment variables
/.env
/.env.*

# Logs
npm-debug.log*
Yarn-debug.log*
yarn-error.log*

# OS files
/.DS_Store

# Editor directories
/.vscode/
/.idea/

# Test coverage
/coverage

# Misc
.cache
*.log
node_modules
