<section class="about-me" [ngClass]="{'loaded': backgroundImageLoaded}">
  <div class="content">
    <h2>About <span>Me</span></h2>
    <p>
      I'm passionate about staying up-to-date with the latest technologies and trends, ensuring my skills remain
      relevant and effective. With a strong foundation in computer science and a drive to continuously learn, I'm
      committed to delivering high-quality solutions that meet the evolving needs of businesses and organizations.
    </p>

    <div class="btn-group">
      <a (click)="downloadResume()" class="download-resume" role="button" tabindex="0">Resume</a>
      <a (click)="scrollToExperience()" class="experience-btn" role="button" tabindex="0">Experience</a>
    </div>
  </div>
</section>

<section class="experience" #experienceElement>
  <div class="content">
    <h2>Experience</h2>
    <ul>
      <li *ngFor="let experience of experiences">
        <h4>{{ experience.role }} - {{ experience.company }}</h4>
        <p>{{ experience.description }}</p>
      </li>
    </ul>

    <div class="btn-group">
      <a (click)="scrollToEducation()" class="education-btn" role="button" tabindex="0">Education</a>
    </div>
  </div>
</section>

<section class="education" #educationElement>
  <div class="content">
    <h2>Education</h2>
    <ul>
      <li *ngFor="let education of educations">
        <h4>{{ education.degree }} - {{ education.university }}</h4>
        <p>{{ education.description }}</p>
      </li>
    </ul>
  </div>
</section>