<section class="portfolio" [ngClass]="{'loaded': backgroundImageLoaded}">
    <div class="content">
        <h2>My <span>Portfolio</span></h2>
        <h4>Here are some of my notable projects</h4>
        <p>As a driven software developer, I've worked on various projects that demonstrate my skills and expertise.
            From .NET development to full-stack solutions, I've delivered scalable and efficient projects that meet
            the needs of businesses and organizations.</p>
        <div class="btn-group">
            <a (click)="scrollToProjects()" class="see-projects">See Projects</a>
        </div>
    </div>
</section>


<section class="projects">
  <div class="content project-list" #projectsElement>
    <h2>Project <span>List</span></h2>
    <ul>
      <li *ngFor="let project of projects">
        <h4>{{ project.title }}</h4>
        <p>{{ project.description }}</p>
        <a *ngIf="project.link" [href]="project.link" target="_blank" class="project-link">View Project</a>
      </li>
    </ul>
  </div>
</section>