<section class="home">
    <div class="content">
        <h2>Hi, I'm <span>Kai Taing</span></h2>
        <h4>.Net Developer</h4>
        <p>As a driven software developer with a passion for innovation, I leverage technology to drive business
            growth and improvement. With expertise in .NET, full-stack development, and database management, I
            deliver scalable solutions that enhance operational efficiency. Currently pursuing an MS in Computer
            Science at Maharishi International University, I'm committed to lifelong learning and staying ahead of
            industry trends.</p>
        <div class="btn-group">
            <a href="#" class="hire-me">Hire Me</a>
            <!-- <button (click)="scrollToProjects()" class="see-projects">See Projects</button> -->
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/hang-kheang-taing"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.facebook.com/TaingHangKheang"><i class="fab fa-facebook-f"></i></a>
            <a href="https://github.com/Kheang1409"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>